#hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    margin: 0 5rem;
}

#hero h1 {
    font-size: var(--h1);
}

#hero span {
    font-size: var(--h2);
}

#hero .avatar {
    position: relative;
}

.typewriter_animation {
    overflow: hidden;
    border-right: .15em solid var(--primary-color-almost-black);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .1em;
    animation: 
    typing 3s steps(35, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--primary-color-almost-black); }
}
/* Laptop Screen Size */
@media only screen and (max-width: 991px) {
    #hero h1 {
        text-align: center;
    }
}
/* Bigger Mobile Screen Size */
@media only screen and (max-width: 600px) {
    #hero h1 {
        text-align: center;
    }

    #hero img {
        width: 300px;
        height: 400px;
    }
}
/* Mobile Screen Size */
@media only screen and (max-width: 480px) {
    .typewriter_animation {
        letter-spacing: .05em;
    }
}