@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Pacifico&family=Prompt:wght@300&display=swap');

@import './reset.css';
@import './global.css';
@import './header.css';
@import './icons.css';
@import './hero.css';
@import './experience/';
@import './projects/'; 
@import './contact.css';

:root {
    --primary-color-almost-white: 	hsl(15, 57%, 97%);
    --primary-color-almost-black: hsl(0, 0%, 8%);
    
    --font-family-pacifico: 'Pacifico', cursive;
    --font-family-prompt: 'Prompt', sans-serif;

    --h1: calc(1.5rem + 1vh + 1.5vw);
    --h2: calc(1rem + 1vh + 1.5vw);
    --h3: calc(0.7rem + 0.9vh + 1.3vw);
    --h4: calc(0.4rem + 0.8vh + 1vw);
    --p: calc(0.4rem + 0.8vh + 0.7vw);
}