.experience_heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.experience_list_container {
    margin: 0 3rem;
}

.experience_list {
    margin: 1rem 0;
    font-size: var(--p);
}

@media only screen and (max-width: 768px) {
    .experience_heading {
        justify-content: center;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .experience_heading {
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
    }
}
